<div class="row">
  <div class="large-12 columns">
    <div class="orbit-container">
      <ul class="example-orbit" data-orbit>
        <li>
          <img src="https://dl.dropboxusercontent.com/u/38076607/home_1_new.jpg" />
          <div class="orbit-caption">
            Solving Water Right Challenges Facing Public and Private Entities and Individual Water Users
          </div>
        </li>
        <li>
          <img src="http://water-rights.s3.amazonaws.com/services/home_2.jpg" alt="slide 2" />
          <div class="orbit-caption">
            Specializing in All Things Water Rights
          </div>
        </li>
        <li>
          <img src="http://water-rights.s3.amazonaws.com/services/home_3.jpg" alt="slide 3" />
          <div class="orbit-caption">
            Navigating Clients Through the Administrative Process of the Division of Water Rights
          </div>
        </li>
        <li>
          <img src="http://water-rights.s3.amazonaws.com/services/home_4.jpg" alt="slide 4" />
          <div class="orbit-caption">
            Riley Water Consulting Helps Connect the Dots Between Water Right Buyers and Sellers
          </div>
        </li>
      </ul>
    </div>
    <hr />
  </div>
</div>
 <div class="row">
  <div class="large-7 columns">
    <h4>Riley Water Consulting, LC</h4>
    <p>Riley Water Consulting, LC (RWC) is a water right engineering and consulting firm in Utah. RWC provides specialization in change applications, updating title on water rights, water right research, conflict resolution, enforcement action, diligence claims, nonuse applications, declarations of beneficial use, applications to appropriate, proofs of beneficial use and much more.</p>
    <p>Riley Water Consulting has more than 37 years of experience in water rights and has provided clients with personal, honest, ethical, and cost effective service in a timely manner.</p>

  </div>
  
  <div class="large-5 columns">
  
    <!-- Gallery d with a block grid. Note: block grid items should be the same size for optimal results -->
    
    <ul class="small-block-grid-3">
      <li><%= link_to image_tag("https://dl.dropboxusercontent.com/u/38076607/Static%20Squares%201.jpg"), diligence_claims_path %></a></li>
      <li><%= link_to image_tag("https://dl.dropboxusercontent.com/u/38076607/Static%20Squares%202.jpg"), proof_of_beneficial_use_path %></a></li>
      <li><%= link_to image_tag("https://dl.dropboxusercontent.com/u/38076607/Static%20Squares%203.jpg"), change_application_path %></a></li>
      <li><%= link_to image_tag("https://dl.dropboxusercontent.com/u/38076607/Static%20Squares%204.jpg"), reports_of_conveyance_path %></a></li>
      <li><%= link_to image_tag("https://dl.dropboxusercontent.com/u/38076607/Static%20Squares%205.jpg"), extension_request_path %></a></li>
      <li><%= link_to image_tag("https://dl.dropboxusercontent.com/u/38076607/Static%20Squares%206.jpg"), fourty_year_plan_path %></a></li>
      <li><%= link_to image_tag("https://dl.dropboxusercontent.com/u/38076607/Static%20Squares%207.jpg"), declarations_of_beneficial_use_path %></a></li>
      <li><%= link_to image_tag("https://dl.dropboxusercontent.com/u/38076607/Static%20Squares%208.jpg"), applications_to_appropriate_path %></a></li>
      <li><%= link_to image_tag("https://dl.dropboxusercontent.com/u/38076607/Static%20Squares%209.jpg"), non_use_application_path %></a></li>
    </ul>
  </div> 
</div>
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We help our clients buy and sell thier water rights! Check out our buy/sell page to see whats for sale and what people are looking for. Our buy/sell page also gives information on the water right policy for each area.</p>
          </div>
          <div class="large-3 columns">
            <%= link_to "Buy/Sell", buy_sell_path, class: "radius button right" %>
          </div>
        </div>
      </div>
      
    </div>
  </div>