<!-- h1 Listing wanteds

table
  tr
    th Area
    th Volume
    th Source
    th Description
    th Contact Info
    th
    th
    th

  - @wanteds.each do |wanted|
    tr
      td = wanted.area.name
      td = wanted.volume
      td = wanted.source
      td = wanted.description
      td = wanted.contact_info
      td = link_to 'Show', wanted
      td = link_to 'Edit', edit_wanted_path(wanted)
      td = link_to 'Destroy', wanted, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Wanted', new_wanted_path -->

<div class="container">
  <h1>Wanted Listings</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Area</th>
          <th>Volume</th>
          <th>Source</th>
          <th>Description</th>
          <th>Contact Info</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @wanteds.each do |wanted| %>
        <tr>
          <td><%= wanted.area.name %></td>
          <td><%= wanted.volume %></td>
          <td><%= wanted.source %></td>
          <td><%= wanted.description %></td>
          <td><%= wanted.contact_info %></td>
          <td><%= link_to 'Show', wanted %></td>
          <td><%= link_to 'Edit', edit_wanted_path(wanted) %></td>
          <td><%= link_to 'Destroy', wanted, data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'New Wanted', new_wanted_path, class: "btn btn-primary" %>
</div>